
# Azure DevOps Configuration (para uso futuro com MCP)
# AZURE_DEVOPS_ORG=https://dev.azure.com/jonasmelo
# AZURE_DEVOPS_PROJECT=Projeto Integrador III
# AZURE_DEVOPS_PAT=your-personal-access-token-here

POSTGRE-SQL-ADMIN-PASSWORD=