# Azure Storage Configuration
STORAGE_ACCOUNT_NAME=rentmasterstorageaccount
CONTAINER_NAME=bronze
BLOB_PREFIX=raw/

# Database Configuration
DB_PATH=/data/rental.db

# Email Configuration (Gmail SMTP)
EMAIL_FROM=jonashonorato4@gmail.com
EMAIL_PASSWORD=""
EMAIL_TO=jonashonorato4@gmail.com
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587

# Logging
LOG_LEVEL=INFO

# Azure Service Principal Credentials
AZURE_CLIENT_ID="80eefc6e-1dee-4f07-9e43-540c0130f205"
AZURE_CLIENT_SECRET="s4l8Q~2i-VYtL0v9caWj1YJ~SPuK9vDXf9Fx~cMf"
AZURE_TENANT_ID="dfb66dc4-3f3c-492c-991d-727dbd1c89d4"